
/*-----------------------Custom Fonts-------------------------*/
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/BebasNeue-Regular.otf);
  src: url(../fonts/bebas-neue-regular.woff) format('woff'),
       url(../fonts/bebas-neue-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/BebasNeue-Regular.eot);
  src: url(../fonts/bebas-neue-regular.woff) format('woff'),
       url(../fonts/bebas-neue-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/BebasNeue-Regular.eot);
  src: url(../fonts/bebas-neue-regular.woff) format('woff'),
       url(../fonts/bebas-neue-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/BebasNeue-Regular.eot);
  src: url(../fonts/bebas-neue-regular.woff) format('woff'),
       url(../fonts/bebas-neue-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/BebasNeue-Regular.eot);
  src: url(../fonts/bebas-neue-regular.woff) format('woff'),
       url(../fonts/bebas-neue-regular.woff2) format('woff2');
}
